- if flash[:cart_notice]
  = render partial: "cart/cart_notice"

%h3 Your shopping Cart

%ol
  - for item in @cart.cart_items
    - if item == @current_item
      %li#current_item
        = render partial: "cart/item", object: item
    - else
      %li{id: "cart_item_#{item.book.id}"}
        = render partial: "cart/item", object: item
%p#cart_total
  %strong
    = "Total: £#{sprintf("%0.2f", @cart.total)}"
- unless @cart.cart_items.empty?
  %p#clear_cart_link
    %small
      = clear_cart_link
