
//%hr.books-list
#book-container
  - for book in @books
    .book{name: "#{book.id}"}
      %a{:href => "/catalog/#{book.id}"}
        .topper-element
          .books-element
            .img-container
              .search{title: 'Show product'}
                %i.fas.fa-search
              = image_tag(book.image.url, alt: 'Image', class: 'image-book-list') if book.image?
          .content-container
            .book-list-element.first-element
              = add_book_link('ADD TO CART |', book)
              //= link_to 'ADD TO CART |', {controller: 'cart', action: "add", id: book}, method: "POST", remote: true
            .book-list-element.second-element{title: 'Add to compare product.'}
              %i.fas.fa-list
            .book-list-element.third-element{title: 'Vote product.'}
              %i.fas.fa-thumbs-up
      %h4= book.title
      %p.price= "£#{book.price}"


//:javascript
//  $('.book').hover(function (){
//      jQuery(this).children().children(".content-container").delay("fast").fadeOut();
//      //jQuery(this).children().children(".content-container").css("display", 'none').delay( 800 );
//    });
//  $('.book').mouseover(function (){
//      jQuery(this).children().children(".content-container").delay("fast").fadeIn();
//      //jQuery(this).children().children(".content-container").css("display", 'block').delay( 800 );
//  });
//
