#catalog
  %dl#books
    - if @books
      %p= "Your search #{params[:q]} produced #{pluralize @books_all.size, 'result'}"
    = will_paginate @books
    = render partial: 'book_list'
    = will_paginate @books
