- content_for :description do
  - @book.converted_to_html
- content_for :short_description do
  - @book.converted_to_html.truncate(250) if @book.converted_to_html
#book-details
  %hr
  // Toper part of show
  .description-top
    #description-image
      .img-container
        = image_tag(@book.image.url, alt: 'Image', class: 'real-size') if @book.image?
        = image_tag(@book.image.thumb.url, alt: 'Image', class: 'thumb') if @book.image?
    #description-info
      %h2= @book.title
      %h3
        %small= "by #{@book.authors.map{|a| a.name}.join(', ')}"
      %ul.reviews
        %li
          %a{:href => "#targetname"}
            #review_stars
              = review_stars(@rating).html_safe
            &nbsp;
            %span.odnosnik= "Reviews(#{@reviews?(@reviews.size):0})"
        %li
          %a{:href => "#targetname-form"}
            %span.odnosnik Write A Reviewe
      %span.cena= "Price: £#{sprintf("%.2f", @book.price)}"
      .infoline
        %span.header
          = "Page count: "
        %span.details="#{@book.page_count}"
      .infoline
        = "Publisher: "
        %span.details= "#{@book.publisher.name}"
      .infoline
        = "Published: "
        %span.details= "#{@book.published_at}"
      .infoline
        = "isbn: "
        %span.details= "#{@book.isbn}"
      %hr
      = yield :short_description if @book.converted_to_html
      %hr
      #description-info-links
        %ul
          %li
            = link_to add_item_path(@book.id), method: 'POST', remote: true, class: 'btn btn-blue' do
              %i.fas.fa-shopping-cart
              Add to Basket
          %li
            = link_to '#', class: 'btn btn-green' do
              %i.far.fa-heart
              Add to Wishlist
          %li
            = link_to '#', class: 'btn btn-yellow' do
              %i.fas.fa-align-left
              Add to Compare

    / Section related books
    #description-related
      %h3 Related books
      - @related_books.each do |book|
        %a{:href => "/catalog/#{book.id}"}
          .related-book
            .thumb-container
              = image_tag(book.image.thumb.url, alt: 'Image', class: 'thumb') if book.image?
            .description-container
              %span.infoline
                = review_stars(ForumPost.average_votes(book.id)).html_safe
              %span.infoline-1= book.title.truncate(50)
              %span.infoline-1= "£#{book.price}"


  .description-bottom
    .navigator
      %ul#navigator.left-side
        %li#book-description
          .test
          %span.odnosnik DESCRIPTION
        %li#book-reviews.active
          .test
          %span.odnosnik.reviews-amount= "REVIEWS(#{@posts?(@posts.size):0})"
    .container-description#targetname
      .blurb
        = yield :description if @book.converted_to_html
      .review
        %h1 Customer reviews
        -if !@new_review
          //= will_paginate @posts, remote: true
          #rewiews
            = render partial: "post", locales: @posts
          //= will_paginate @posts, remote: true
          = render partial: 'shared/review_form'
        -else
          = render partial: 'shared/review_form'

    %hr.books-list
  = link_to "Back to Catalog", catalog_path, id: 'czarna'
