!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @page_title || 'Emporium'
    %script{:crossorigin => "anonymous", :defer => "defer",
    :integrity => "sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe",
    :src => "https://use.fontawesome.com/releases/v5.0.13/js/all.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    //= link rel: "alternate" type: "application/rss+xml" title: "Codingfish RSS Feed" href: "https://www.codingfish.com/feed?format=rss"
  %body
    #wrapper
      #header
        %h1#logo Emporium&trade;
        %h2#slogan Books on Rails
      #menu
        %ul
          %li
            %a{href: "/catalog/main"} Home
            &nbsp;|&nbsp
          %li
            %a{href: "/admin/author/index"} Authors
            &nbsp;|&nbsp;
          %li
            %a{href: "/admin/publishers"} Publishers
            &nbsp;|&nbsp;
          %li
            %a{href: "/catalog/index"} Catalog
            &nbsp;|&nbsp;
          %li
            %a{href: "/admin/books"} Books
            &nbsp;|&nbsp;
          %li
            %a{href: "/catalog/latest"} Latest
            &nbsp;|&nbsp;
          %li
            %a{href: "/about/index"} About
            &nbsp;|&nbsp;
      #content
        - if @page_title
          %h1= @page_title
        - if flash[:notice]
          #notice= flash[:notice]
        = yield
      #footer
        &copy; 1995-2018 Emporium
