!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @page_title || 'Emporium'
    %script{:crossorigin => "anonymous", :defer => "defer",
    :integrity => "sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe",
    :src => "https://use.fontawesome.com/releases/v5.0.13/js/all.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    //= link rel: "alternate" type: "application/rss+xml" title: "Codingfish RSS Feed" href: "https://www.codingfish.com/feed?format=rss"
  %body
    #wrapper
      - if flash[:cart_notice]
        = render partial: "cart/cart_notie"
      #header
        // topper header
        #topper-header
          %p#contact-info
            %i.fas.fa-phone-volume.header-phone
            078 57 11 25 27 &nbsp;
            %i.far.fa-envelope
            msypniewski511@gmail.com
          %ul#selector
            %li
              %a{:href => "/"} My Acount
            %li
              %a{:href => "/"} Wishlist
            %li
              %a{:href => "/"} Compare Products
            %li
              %a{:href => "/"} Faq's

        #bottom-header
          = image_tag 'croped.png'
          #container-logo
            %h1#logo Emporium&trade;
            %h2#slogan Books on Rails

          // Stle for cart deatils
          - if @cart
            #cart-box
              .links
                %h2
                  Currency £
                  %i.fas.fa-angle-down.submenu
                  #currency
                    %p Britsh £
                    %p Euro E
                    %p USD $
              .cart-details
                %h2
                  Cart
                  %i.fas.fa-shopping-bag
                  = render partial: 'shared/amount'
                  //#shoping-submenu-cart-list





      = render partial: 'shared/menu'
      #content
        - if @page_title && action_name != 'main'
          %h1= @page_title
        - if flash[:notice]
          #notice= flash[:notice]
        = yield
        - if @cart
          #shopping_cart
            = render partial: "cart/cart"
      = render partial: 'shared/footer'
:javascript
  $('#shopping_cart').hide();
  $('.cart-details').click(function(){
    $('#shopping_cart').fadeToggle(500);
  });

  $('#book-description').click(function(){
    $('.review').hide();
    $('.blurb').show();
    $(this).addClass('active');
    $('#book-reviews').removeClass('active');
    //TODO add style for menu
  });
  $('#book-reviews').click(function(){
    $('.blurb').hide();
    $('.review').show();
    $(this).addClass('active');
    $('#book-description').removeClass('active');
  });
