!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @page_title || 'Emporium'
    %script{:crossorigin => "anonymous", :defer => "defer",
    :integrity => "sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe",
    :src => "https://use.fontawesome.com/releases/v5.0.13/js/all.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    //= link rel: "alternate" type: "application/rss+xml" title: "Codingfish RSS Feed" href: "https://www.codingfish.com/feed?format=rss"
  %body
    #wrapper
      #header
        // topper header
        #topper-header
          %p#contact-info
            %i.fas.fa-phone-volume.header-phone
            078 57 11 25 27 &nbsp;
            %i.far.fa-envelope
            msypniewski511@gmail.com
          %ul#selector
            %li
              %a{:href => "/"} My Acount
            %li
              %a{:href => "/"} Wishlist
            %li
              %a{:href => "/"} Compare Products
            %li
              %a{:href => "/"} Faq's

        #bottom-header
          = image_tag 'croped.png'
          #container-logo
            %h1#logo Emporium&trade;
            %h2#slogan Books on Rails
      #menu
        %ul
          %li
            - if action_name == 'main' && controller_name == 'catalog'
              %a{href: "/catalog/main", class: 'acitve'} Home
            - else
              %a{href: "/catalog/main"} Home
          %li
            - if action_name == 'index' && controller_name == 'author'
              %a{href: "/admin/author/index", class: 'acitve'} Authors
            - else
              %a{href: "/admin/author/index"} Authors
          %li
            - if action_name == 'index' && controller_name == 'publishers'
              %a{href: "/admin/publishers", class: 'acitve'} Publishers
            - else
              %a{href: "/admin/publishers"} Publishers
          %li
            - if action_name == 'index' && controller_name == 'catalog'
              %a{href: "/catalog/index", class: 'acitve'} Catalog
            - else
              %a{href: "/catalog/index"} Catalog
          %li
            - if action_name == 'index' && controller_name == 'books'
              %a{href: "/admin/books", class: 'acitve'} Books
            - else
              %a{href: "/admin/books"} Books
          %li
            - if action_name == 'latest'
              %a{href: "/catalog/latest", class: 'acitve'} Latest
            - else
              %a{href: "/catalog/latest"} Latest
          %li
            - if action_name == 'index' && controller_name == 'about'
              %a{href: "/about/index", class: 'acitve'} About
            - else
              %a{href: "/about/index"} About

        .search-form
          = render partial: 'shared/search_box'
      #content
        - if @page_title && action_name != 'main'
          %h1= @page_title
        - if flash[:notice]
          #notice= flash[:notice]
        = yield
        - if @cart
          #shopping_cart
            = render partial: "cart/cart"
      %footer
        #main
          #stay-in-touch.moje-style
            %h1 GET IN TOUCH
            %p Lorem ipsum dolor amet, consecer adipiscing elit nunc bibendum purus.
            %p
              %i.far.fa-envelope
              W10 4SJ, london
              Flat 7, 54 Third Avenue
            %p
              %i.fas.fa-phone
              (+44) 07857112527
            %p
              %i.fas.fa-at
              msypniewski511@gmail.com
          #information.moje-style
            %h1
              INFORMATION
            %ul
              %li
                %a{:href => "/"}About Us
              %li
                %a{:href => "/"}Delivery information
              %li
                %a{:href => "/"}Privacy policy
              %li
                %a{:href => "/"}Discount
              %li
                %a{:href => "/"}Custom Service
              %li
                %a{:href => "/"}Terms & condition
          #linki.moje-style
            %h1
              USEFUL LINK
            %ul
              %li
                %a{:href => "/"}Our Stores
              %li
                %a{:href => "/"}Promotion
              %li
                %a{:href => "/"}Cusstomer Services
              %li
                %a{:href => "/"}Delivery Help
              %li
                %a{:href => "/"}Featured Sale
              %li
                %a{:href => "/"}Affiliate



          #from-blog.moje-style
            %h1 FROM BLOG
            = image_tag 'worldmap.png', class: 'mapa'


        #top-bottom
          Copyright © 2018 Emporium. All Rights Reserved. Created with ♥ by JoomlaBuff.com and
          %a{:href => "https://github.com/msypniewski511"} Maciej Sypniewski
          =image_tag 'payments_logos.png', class: 'left-align'
